asgiref==3.4.1; python_version >= "3.6"
certifi==2021.5.30; python_version >= "3.0" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.0"
charset-normalizer==2.0.4; python_full_version >= "3.6.0" and python_version >= "3.0"
django==3.2.7; python_version >= "3.6"
idna==3.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
pytz==2021.1; python_version >= "3.6"
requests==2.26.0; python_version >= "3.0" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.0"
sqlparse==0.4.1; python_version >= "3.6"
stripe==2.60.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
urllib3==1.26.6; python_version >= "3.0" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.0"
