{% extends 'base.html' %}
{% load pretty_print %}

{% block title %}{{ OBJECT_NAME }} Detail{% endblock %}
{% block body_title %}{{ OBJECT_NAME }} Detail{% endblock %}
{% block body_subtitle %}{{ OBJECT_NAME }} Detail{% endblock %}

{% block content %}

{% if QUERYSET_VALUES %}
  <ul>
    {% for index, values in QUERYSET_VALUES.items %}
      <li class="mb-2">
        <a href="/{{ OBJECT_NAME|lower }}/{{ values.id }}/">{{ OBJECT_NAME }} #{{ values.id }}</a>
        - <a href="/{{ OBJECT_NAME|lower }}/{{ values.id }}/update/">Update</a>
        - <a href="/{{ OBJECT_NAME|lower }}/{{ values.id }}/delete/">Delete</a>
        <ul>
          {% for key, value in values.items %}
            {% if key != 'id' and key not in OBJECT_VALUES_TO_IGNORE %}
              <li>{{ key }}:
                <ul><li><pre>{{ value|pretty_print }}</pre></li></ul>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="fw-bold">No '{{ OBJECT_NAME }}' objects have been created.</p>
{% endif %}

<ul class="bottom-links">
  <li>
    <a href="/{{ OBJECT_NAME|lower }}/">{{ OBJECT_NAME }} list</a>
  </li>
</ul>

{% endblock content %}
