{% extends 'base.html' %}
{% load template_tags %}

{% block content %}

<h4>{{ OBJECT_NAME }} #{{ object.pk }}
  - <a href="/{{ OBJECT_NAME|lower }}/{{ object.pk }}/update/">Update</a>
  - <a href="/{{ OBJECT_NAME|lower }}/{{ object.pk }}/delete/">Delete</a>
</h4>

{% if QUERYSET_VALUES %}
  <ul>
    {% for index, values in QUERYSET_VALUES.items %}
      {% for key, value in values.items %}
        {% if key != 'id' and key not in OBJECT_VALUES_TO_IGNORE %}
          <li>{{ key }}:
            <ul><li><pre>{{ value|pretty_print }}</pre></li></ul>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
{% else %}
  <p class="fw-bold">No '{{ OBJECT_NAME }}' objects have been created.</p>
{% endif %}

<ul class="bottom-links">
  <li>
    <a href="/{{ OBJECT_NAME|lower }}/">{{ OBJECT_NAME }} list</a>
  </li>
</ul>

{% endblock content %}
